<section id='2'>
    <div class='container'>
      <h3 class='glitch-subhead' data-text="Punk Is Actually Pop Punk">Punk Is Actually Pop Punk</h3>

      <p class='body-text'>A breakdown of the genres associated with each song in the genre is even more telling. There are 424 different genres associated with the songs in the 24 playlists, which helps only to obscure the genre's definition.</p>

    <div class='control'>
        <button id='punk-button' class='graph'>punk</button>
        <button id='rock-button' class='graph'>rock</button>
        <button id='core-button' class='graph'>-core</button>
        <button id='pop-button' class='graph'>pop</button>
        <p class='genre-count'></p>
    </div>

    <figure id='waffle'></figure>

    <p class='body-text'>Of these genres, only 54 contain the word 'punk'. The word 'rock' is actually appears more often than 'punk' does when it comes to genre names. There are also 48 different combinations of 'core' genres, popularized by hardcore, metalcore and numetalcore. There are also 32 flavors of 'pop'-classified genres floating around in the playlists, mostly due to pop punk and Brendon Urie's jump to bubblegum pop.</p>

    {{!-- <p class='step stick' id='pop-punk'>Speaking of pop punk, more songs are given the classification of </p>

    
   </div>

   <div class='container'>
        <figure id="div-chart"></figure> --}}
        {{!-- <div class="infobox" style="visibility: hidden;">
            <h4 class='underline'>Genres</h4>
            <p class="genre">genres</p>
        </div> --}}
    {{!-- </div> --}}
</section>

{{!-- <script src="/scripts/bar-chart.js"></script> --}}
{{!-- <script src="/scripts/div-chart.js"></script> --}}
<script src="/scripts/waffle-chart.js"></script>
