<div class='container-med graphic'>
    <div class='control'>
        <div class='songbox'>
            <h4 class='band'>Click a dot</h4>
            <h4 class='song'>to hear an audio preview</h4>
        </div>
    </div>
    <div id="chart1" class='center'></div>
</div>

<script src="scripts/chart-01.js"></script>
