<div class='container-med'>
	<section id='3'>
  <div class='container'>
      <div class='control'>
        <button id='popularity' class='graph'>popularity</button>
        <button id='energy' class='graph'>energy</button>
        <button id='danceability' class='graph'>danceability</button>
        <button id='valence' class='graph'>valence</button>
      </div>
      <div id='chart3'></div>
      <div class='tooltip'></div>
  </div>
  </section>
</div>


  <script src='/scripts/chart-03.js'></script>
	{{!-- <script src='https://russellgoldenberg.github.io/scrollama/stickyfill.min.js'></script>
	<script src='https://russellgoldenberg.github.io/scrollama/scrollama.min.js'></script>
	<script src='https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js'></script> --}}