  <section id='4'>
    <div class='container'>
        <div id='chart5'></div>
        <div class='tooltip'></div>
      </div>
  </section>

<script src='/scripts/chart-04.js'></script>
<script src='/scripts/decade-radials.js'></script>