<div class='container-full'>
    <div class='control'>
        <div class='songbox'>
            <h4 class='band'>Click a dot to</h4>
            <h4 class='song'>hear an audio preview</h4>
        </div>
        <p class='chart1-labels'>
            <span style='color:#566fa3'>Popularity&nbsp;&nbsp;</span>|<span style='color:#dbc269'>&nbsp;&nbsp;Energy&nbsp;&nbsp;</span>|<span style='color:#C7493A'>&nbsp;&nbsp;Danceability&nbsp;&nbsp;</span>|<span style='color:#5CDB95'>&nbsp;&nbsp;Valence</span>
            </p>
    </div>
        <div id="chart1" class='center'></div>
    </div>
</div>

<script src="/scripts/chart-01.js"></script>
