<div class='container-med'>

<div class='library'>
			<h2 class='library__hed'><a target='_blank' href='https://1wheel.github.io/graph-scroll/'>graph-scroll.js</a></h2>
			<div class='library__graphic graphic'>
				<div class='graphic__prose'>
					<p class='trigger' data-step='0'>Step 1 in the graphic. It triggers in the middle of the viewport. For this graphic, it is the same as the initial state so the reader doesn&rsquo;t miss anything.</p>
					<p class='trigger' data-step='1'>Step 2 arrives. The graphic should be locking into a fixed position right about now. We could have a whole bunch of these &ldquo;fixed&rdquo; steps.</p>
					<p class='trigger' data-step='2'>Step 3 concludes our brief tour. The graphic should now go back to its original in-flow position, elegantly snapping back into place.</p>
				</div>
				<div class='graphic__vis'></div>
			</div>
		</div>

    </div>

    <script src='/scripts/graph-scroll.js'></script>	
    <script src='/scripts/chart-test.js'></script>
