<section id='2'>
    <div class='container'>
      <h3 class='glitch-subhead' data-text="Punk Soured Into Pop Punk">Punk Soured Into Pop Punk</h3>

      <p class='body-text'>Spotify does some work to give nods to genre greats like Green Day and Fall Out Boy, but these playlists are primarily designed as vehicles to push new music onto fans.</p>

      <p class='body-text'>That said, the genre's that Spotify is pushing is greatly different than the genres predeccessors. Even though the popular bands are still among the oldest, they're being cycled out and replaced with younger bands struggling with popularity.</p>

      <p class='body-text'>These new bands are primarily very young, born in the late 2000's, and bring with them a subset of pop-punk characterized by post-emo lyrics centered around the lead singer's current emotional state.</p>
   </div>

   <div class='flex-container'>
        <div id="chart2"></div>
        <div class="infobox" style="visibility: hidden;">
            <h4 class='underline'>Genres</h4>
            <p class="genre">genres</p>
        </div>
    </div>
</section>

<script src="/scripts/chart-02.js"></script>
