<i class='fa fa-pause'></i>
<div id='body'>
  <section id='1'>
    <div class='container'>
        <a href='#body'><h3 class='glitch-subhead' data-text="Dance, Dance, Punk is Falling">Dance, Dance, Punk is Falling</h3>
        </a>
        <p class='body-text'>It seems like punk music has just given up on itself. Tom isn't in Blink-182 anymore. Green Day is still a band? A Day To Remember made an edm song with Marshmello.</p>

        <p class='body-text'>When you throw 21st-century curveballs like Spotify, which don't pay homage to forefathers in terms of prominence, its damn near impossible to narrow down what exactly punk looks like in 2019. But, we can try?</p>

        <p class='body-text'>The genre is still high-energy and fast paced, proven by the Spotify data shown below. But only nineteen of the tracks in the 24 playlists have a popularity above 70%, and they're all from scene staples: four from Green Day, two from Fall Out Boy, two from blink-182, two from My Chemical Romance.</p>

        <p class='body-text'>Though these artists were crucial to the 2000's era of punk music, they aren't the best representation of modern punk. All of the most popular songs were released over a decade ago. I mean, Fountain of Wayne's <em>Stacy's Mom</em> is the fourth most popular song in the playlists.</p>

        <p class='body-text'>Each song is mapped out below as a single dot for each of the color categories, which represent an attribute of the song. Because it's a true reflection of the playlists, some songs appear twice, like Green Day's <i>Basket Case</i>, which is now the first and second most popular song.</p>
    </div>
  </section>
</div>
