  <section id='#footer'>
    <div class='container'>
    <h3 class='glitch-subhead' data-text="How Did I Make This?">How Did I Make This?</h3>

    <p class='body-text'>I used <code>Command Line</code> to grab my <code>API</code> key. I used <code>Pandas</code> to build my dataframes and export to .csv's. I shoved everything into <code>D3.js</code> scripts to spit out each graphic.</p>

    <p class='body-text'>I eventually want to do lyrical analysis with <code>NRC Emotional Lexicon</code> and see what emotions are being evoked over time. </p>
      <!-- I made a few graphics using <code>Matplotlib</code>, <code>Illustrator</code> and <code>AI2HTML</code> -->

  </section>