  <section id='#footer'>
    <div class='container'>
    <h3 class='glitch-subhead' data-text="How Did I Make This?">How Did I Make This?</h3>

    <p class='body-text'>I used <code>Command Line</code> to grab my Spotify <code>API</code> key. I used <code>Pandas</code> to build my dataframes and export several to .csv's.</p>

    <p class='body-text'>I shoved everything into <code>D3.js</code> scripts to spit out each graphic. The beeswarm plot was created using <code>d3-force</code>, which helped make it artsy. I used <code>enter-view</code> for scrollytelling. The waffle chart and bar chart were both made using colored divs instead of SVGs.</p>

    <p class='body-text'>The biggest limitation to this piece is the fact that this is just a snapshot from a single day. Spotify regular updates its playlists with new artists and songs.</p>
    
    <p class='body-text'>This piece was inspired by <em>The Pudding's</em> <a href='https://pudding.cool/2017/03/punk/' target="_blank">Crowdsourcing the Definition of Punk</a></p>

    {{!-- <p class='body-text'>I eventually want to do lyrical analysis with <code>NRC Emotional Lexicon</code> and see what emotions are being evoked over time. </p> --}}
    </div>
  </section>