  <section id='4'>
    <div class='container'>
      <h3 class='glitch-subhead' data-text="Slow Down, Speed Racer">Slow Down, Speed Racer</h3>
      <p class='body-text'>As decades have passed, the genre has increasingly lost its appeal, mostly because of Hip Hop and bubblegum pop's dominance in the 90's and 00's. Across each decade represented in the playlists, which date back to the predeccesors of the 1960's, I grabbed the mean popularity and energy to show how much the genre has changed.</p>
      <div class='flex-container'>
        <div>
          <p class='body-text'>The peak in the 80's stems from only a few dozen songs from the decade being sprinkled into the playlists. With the average song popularity well above the rest of the decades, the energy was pretty medium compared to the other decades.</p>
          <p class='body-text'>The genre's skyrocketing population and energy led to what Spotify declares a stalwart </p>
        </div>
        <div id='DecadesInPlaylists'></div>
        <div id='PopAndEnergy'></div>
      </div>
    </div>
  </section>

<script src='/scripts/decades-energy-pop.js'></script>
<script src='/scripts/decades_in_playlists.js'></script>