<section class="container-dark active" id='home'>
    <div class='full-screen'>
        <a href='#'><h1 class="glitch" data-text="IS PUNK DEAD?">{{ headline }}</h1></a>
        <p class='teaser'>Challenging the livelihood of the genre in the streaming age using <code>Spotify</code> playlists.</p>
        <p class='byline'> {{ author.name }} | Sept. 2019</p>
        <p class='links'><a href='https://github.com/SawyerClick/punk' target='_blank'>repo</a>  |  <a href='https://github.com/SawyerClick/punk/tree/master/src/data' target='_blank'>data</a></p>
        <a href='#body'><div class="arrow"></div></a>
    </div>
</section>