<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/main.css">
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>
<body>
  {{> base/headline }}

  <main id='content'>

    {{{body}}}

    {{> base/footer }}
  </main>

</body>
</html>